{% extends "Layout/layout.twig" %}
{% block content %}
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-create">Create Items</button>
        </div>
    </div>
    <div class="table-responsive" data-toggle="list" data-list-values='["cat","price", "updated"]'>
        <table class="table align-items-center">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Pictures</th>
                <th scope="col" class="sort" data-sort="cat">Category</th>
                <th scope="col" class="sort" data-sort="price">Price</th>
                <th scope="col" class="sort" data-sort="updated">Last Updated</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="list">
            {% for item in items|sort((a,b) => a.getUpdatedAt <=> b.getUpdatedAt) %}
                <tr>
                    <td>
                        <span>{{ item.getId }}</span>
                    </td>
                    <td>
                        <span>{{ item.getTitle }}</span>
                    </td>
                    <td>
                        <span>{{ item.getDescription }}</span>
                    </td>
                    <td>
                        <span class="avatar mr-3"><img src="{{ assets }}{{ item.getPicture }}"
                                                       alt=""></span>
                    </td>
                    <td>
                        <span class="cat">{% for cat in categories %}{% if item.getCategory == cat.getId %} {{ cat.getTitle }} {% endif %}{% endfor %}</span>
                    </td>
                    <td>
                        <span class="price">{{ item.getPrice }}</span>
                    </td>
                    <td>
                        <span class="update">{{ item.getUpdatedAt }}</span>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <button class="dropdown-item" data-id="{{ category.getId }}"
                                        data-title="{{ category.getTitle }}" data-target="#modal-update"
                                        data-toggle="modal">
                                    Update role
                                </button>
                                <button class="dropdown-item" data-target="#modal-delete" data-toggle="modal"
                                        data-id="{{ category.getId }}">Delete
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block modal %}
    <div class="col-md-4">
        <div class="modal fade" id="modal-update" tabindex="-1" role="dialog" aria-labelledby="modal-form"
             aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card bg-lighter border-0 mb-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                <h2>Update Categories</h2>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modal-delete"
             aria-hidden="true">
            <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-danger">
                    <div class="modal-header">
                        <h6 class="modal-title"
                            id="modal-title-notification">Do you want delete it ?</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <i class="ni ni-bell-55 ni-3x"></i>
                        </div>
                        {% include "Form/items.twig" %}
                    </div>
                    <div class="modal-footer">
                        <a href=""
                           class="btn btn-white text-dark link-delete">Yes</a>
                        <button type="button" class="btn btn-link text-white ml-auto"
                                data-dismiss="modal">Oops misstake
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="modal-delete"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title"
                            id="modal-title-notification">New Categories</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            {% include "Form/items.twig" %}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning text-white ml-auto"
                                data-dismiss="modal">Close
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#modal-update').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget)
                let id = button.data('id')
                let title = button.data('title')
                let modal = $(this)
                console.log(id)
                modal.find('.link-update').attr("action", "/admin/items_cat/update/" + id)
                modal.find(`.title`).attr('value', title)
            })
            $('#modal-delete').on('show.bs.modal', function (event) {
                let button = $(event.relatedTarget)
                let id = button.data('id')
                let modal = $(this)
                modal.find('.link-delete').attr("href", "/admin/items_cat/delete/" + id)
            })
        });
    </script>
{% endblock %}
